.root {
  @apply min-h-screen flex flex-col items-center justify-center relative;
}

.logo {
  @apply h-80 w-80;
  animation-name: appear-and-disappear;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes appear-and-disappear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.quote {
  @apply text-2xl md:text-3xl font-medium px-4;
}

.quote-wrapper {
  animation-name: show-quote;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes show-quote {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.author {
  @apply text-sm md:text-base text-center md:text-right px-4;
}

.subtitle {
  @apply absolute bottom-16 text-base xl:text-lg max-w-5xl px-8 lg:px-0;
}

.overlay {
  @apply text-white drop-shadow-md text-center absolute inset-0 bg-black bg-opacity-10 z-10 flex-1 flex items-center justify-center backdrop-blur-md;
}

.video {
  @apply fixed inset-0 w-full h-full object-cover -z-50;
}
